*{
    margin: 0;
    padding: 0;
}
.hero1{
    height: 90vh;
}
.hero2{
    height: 60vh;
}
.hero1 p{
    line-height: 2em;
}
.space{
    margin-top: 19em;
}
.services p{
    line-height: 2em;
}
.partners{
    background-color: #EBFAF4;
}
.partners p{
    line-height: 2em;
}
.testimonial hr{
    color: #00D285;
    width: 2em;
}
@media (max-width: 800px) {
    .hero1{
        height: 100%;
    }
    .hero2{
        width: full;
    }
    .intro{
        width: 100%;
        padding-left: 1em;
    }
    .intro h1{
        font-size: 1.5rem
    }
    .intro-picture{
        top: 70%;
    }
    .intro-img{
        width: 40%;
    }
}