*{
    margin: 0;
    padding: 0;
}
.hero1{
    height: 90vh;
}
.hero2{
    height: 60vh;
}
.hero1 p{
    line-height: 2em;
}
.space{
    margin-top: 19em;
}
.services p{
    line-height: 2em;
}
.partners{
    background-color: #EBFAF4;
}
.partners p{
    line-height: 2em;
}
.testimonial{
    background-color: color-mix(in srgb, #002FA6 7%, white)
}
h6{
    position: relative;
    max-width: 200px;
    text-align: center;
}
h6::before{
    content: " ";
    display: block;
    height: 2px;
    background: #00D285;
    position: absolute;
    width: 15%;
    top: 50%;
}
.testimonial .testimony{
    background-color: #E1E1E1;
}
.testimonial p{
    line-height: 2em;
}
.testimonial span{
    line-height: 2em;
}
.service-entails .card{
	background-color: #EBFAF4;
}
.card p{
	line-height: 2em;
}
.work{
	background-color: #EBFAF4;
}
.end {
	background-color: black;
}
.end .fa-brands{
    color: white;
}
.end .fa-light{
    color: white;
}
.end li{
    line-height: 2em;
}
  
@media (max-width: 800px) {
    .hero1{
        height: 100%;
    }
    .hero2{
        width: full;
    }
    .intro{
        width: 100%;
        padding-left: 1em;
    }
    .intro h1{
        font-size: 1.5rem
    }
    .intro-picture{
        top: 70%;
    }
    .intro-img{
        width: 40%;
    }
}